
.form1_container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10% 20%;
} 
.form1_container h6{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: rgb(122 144 130);
}
.form1_container h3{
 color: rgb(122 144 130);
 font-size: 27px;
 font-weight: 400;
 margin-bottom: 0;
 margin-top: 5px;
}
.form1_container h4{
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    font-weight: 400;
}
.sure-div button {
    position: relative;
    display:block;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    border: 2px white solid;
    border-radius: 44px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  .fill:hover {
    color: black;
  }
  
  .fill:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.2s ease-in;
  }
  
  .fill:hover:before {
    top: 0;
  }
.sure-div span{
    margin-top: 5px;
}