body {
    background: url('https://static.surveysparrow.com/application/themes/backgrounds/production/1612263642088__3f9e64a73793dc91e1bc1bca3f72dfcfbc4314252f15311d32badaf629c5__markus-spiske-gcgves5H_Ac-unsplash.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}